<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <img class="card-img-top" src="/img/profile.png">
      <div class="card-body text-center">
        <h2>{{user.username}}</h2>
        <p>Registered {{formatDate user.created_at}}</p>
        <button class="btn btn-primary btn-block">
          Update
          <i class="material-icons" style="vertical-align: top;">create</i>
        </button>
      </div>
    </div>
  </div>
</div>